/* Github colorscheme for Chrome Developer Tools */

/* https://github.com/jellea/chrome-devtools-github-theme */

/* Based on https://bitbucket.org/xajler/chrome-devtools-dark-theme */

/**********************************************/
/* Layout
/**********************************************/
#elements-content.source-code {
  background: #F8F8FF !important;
  font-size: 13px !important;
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  
}

#elements-content .highlight { 
  /*color: #445588;*/
}

#elements-content .selection {
  background: #F8F8FF;
}

body div .selected {
  color: #F8F8FF !important;
  background: #445588;
}

#elements-content .parent {

}

/*.outline-disclosure ol:focus li.parent.expanded.selected::before*/
#elements-content .outline-disclosure li.parent::before,
#elements-content .outline-disclosure ol:focus li.parent.expanded.selected::before {
  background: none !important;
  content: '' !important;
}

#elements-content .parent.selected {

}

#elements-content .parent.selected {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

#elements-content .parent.expanded {

}

#elements-content .parent::before {
  content: url(chrome-devtools://devtools/Images/treeRightTriangleBlack.png) !important;
  position: relative;
  z-index: 999;
}

#elements-content .parent.expanded::before {
  content: url(chrome-devtools://devtools/Images/treeDownTriangleBlack.png) !important;
}

#elements-sidebar .styles-section .properties li.parent::before,
#elements-sidebar .section > .header::before,
#elements-sidebar .properties-tree li.parent::before,
#elements-sidebar .event-bars .event-bar .header::before {
  content: url(chrome-devtools://devtools/Images/treeRightTriangleBlack.png) !important;
}

#elements-sidebar .styles-section .properties li.parent.expanded::before,
#elements-sidebar .section.expanded > .header::before,
#elements-sidebar .properties-tree li.parent.expanded::before,
#elements-sidebar .event-bars .event-bar.expanded .header::before {
  content: url(chrome-devtools://devtools/Images/treeDownTriangleBlack.png) !important;
}

/**********************************************/
/* HTML
/**********************************************/
#elements-content .webkit-html-comment {
  color: #999988 !important;
}

#elements-content .webkit-html-doctype {
  color: #999 !important;
}

#elements-content .webkit-html-tag {
  color: navy !important;
}

#elements-content .webkit-html-attribute-name {
  color: teal !important;
}

#elements-content .webkit-html-attribute-value {
  color: #D14 !important;
}

#elements-content .webkit-html-text-node {
  color: #c2c3c3 !important;
}

#elements-content .webkit-html-css-node {
  color: #c2c3c3 !important;
}

#elements-content .webkit-html-js-node {
  color: #0086B3 !important;
}

#elements-content .webkit-javascript-keyword {
  color: black !important;
  font-weight: bold;
}

#elements-content .webkit-javascript-ident {
  color: black !important;
}

#elements-content .webkit-javascript-string {

}

#elements-content .webkit-javascript-number {

}

#elements-content .webkit-javascript-regexp {

}

/**********************************************/
/* Chrome JavaScript Console
/**********************************************/

#console-view {
    position: absolute;
    background: #F8F8FF !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*color: #eaeaea !important;*/
    overflow-y: auto;
    font-size: 13px !important;
    font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}
.source-code,.monospace{
    font-size: 13px !important;
    font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}

.console-formatted-object, .console-formatted-node {
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #555555 !important;
}

.console-formatted-number {
    color: #009999 !important;
}

.console-formatted-string, .console-formatted-regexp {
    color: #d14 !important;
    white-space: pre;
}

.console-formatted-null, .console-formatted-undefined {
    color: #009926 !important;
}

.console-group-messages .section .header::before {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 8px;
    height: 8px;
    content: url(chrome-devtools://devtools/Images/treeRightTriangleBlack.png) !important;
}

.console-group-messages .section.expanded .header::before {
    content: url(chrome-devtools://devtools/Images/treeRightTriangleBlack.png) !important;
}

.properties-tree li.parent::before {
    content: url(chrome-devtools://devtools/Images/treeRightTriangleBlack.png) !important;
    opacity: 0.75;
    float: left;
    width: 8px;
    height: 8px;
    margin-top: 0;
    padding-right: 3px;
    -webkit-user-select: none;
}

.properties-tree li.parent.expanded::before {
    content: url(chrome-devtools://devtools/Images/treeRightTriangleBlack.png) !important;
    margin-top: 1px;
}

.section .properties .name, .event-properties .name {
    color: #008080 !important;
}

.section .properties .dimmed {
    opacity: 1 !important;
}

.section .properties .value.error {
    color: #a61717 !important;
}

.section .properties .number, .event-properties .number {
    color: #009999 !important;
}

.section .properties .keyword, .event-properties .keyword {
    color: #ac6f44 !important;
}

.section .properties .color, .event-properties .color {
	 color: #555555 !important;
}

.console-error-level .console-message-text, .console-error-level .section .header .title {
    color: #a61717 !important;
}

.section .properties .value.error {
    color: #a61717 !important;
}

